/* More */

.more_section {
    margin:0 0 5px 0;
    box-shadow:0 2px 3px rgba(0, 0, 0,0.2);
}

.notice_li {
    position:relative;
    padding:8px 0;
}

.check_btn_font {
    font-size:32px;
    font-weight:bold;
    text-align:center;
}

.check_place_half {
    width:50%;
    float:left;
    padding:0.3em 0;
    position:relative;
}

.check_place_half_left {
    border-right:1px solid #bf9678;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.version_title {
    float:left;
}

.notice_title {
    margin:4px 0 4px 50px !important;
    width: auto !important;
}

.more_version {
    font-size:16px;
    font-weight:bold;
    position:absolute;
    right:20px;
    top:12px;
}

/********* more icon ********/
.more_icon {
    position:absolute;
    background-image:url(../img/icon_more.png);
    height:22px;
    width:21px;
    float:left;
    margin:1px 0 0 15px;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
}

.mi_must_known {    background-position:-44px 0;}
.mi_question {      background-position:-66px 0;}
.mi_common_sense{   background-position:-110px 0;}
.mi_about_us {    background-position:-88px 0;}
.mi_copy_right {      background-position:-21px 0;}
.mi_personal{   background-position:-132px 0;}
.mi_version{   background-position:0px 0;}

